<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">${db.jdbc.url}</property>
		<property name="hibernate.connection.username">${db.jdbc.username}</property>
		<property name="hibernate.connection.password">${db.jdbc.password}</property> -->
		<!-- <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">100</property> seconds
		<property name="c3p0.max_size">100</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">10</property>
		<property name="c3p0.timeout">1800</property> seconds
		<property name="show_sql">true</property> -->
		<property name="hibernate.jdbc.batch_size">20</property>
		<mapping resource="hbm/Yreview.hbm.xml" />
		<mapping resource="hbm/Gdeal.hbm.xml" />
		<mapping resource="hbm/Usergroups.hbm.xml" />
		<mapping resource="hbm/Ybusinesscategorymap.hbm.xml" />
		<mapping resource="hbm/Deals.hbm.xml" />
		<mapping resource="hbm/Gredemptionlocation.hbm.xml" />
		<mapping resource="hbm/Dealsusage.hbm.xml" />
		<mapping resource="hbm/User.hbm.xml" />
		<mapping resource="hbm/Businesstype.hbm.xml" />
		<mapping resource="hbm/Gdealprice.hbm.xml" />
		<mapping resource="hbm/Review.hbm.xml" />
		<mapping resource="hbm/Goptiondetail.hbm.xml" />
		<mapping resource="hbm/Page.hbm.xml" />
		<mapping resource="hbm/Groupusermap.hbm.xml" />
		<mapping resource="hbm/Pageuserlikes.hbm.xml" />
		<mapping resource="hbm/Countrylocation.hbm.xml" />
		<mapping resource="hbm/Business.hbm.xml" />
		<mapping resource="hbm/Cuisines.hbm.xml" />
		<mapping resource="hbm/Gmerchant.hbm.xml" />
		<mapping resource="hbm/Foodmenuitem.hbm.xml" />
		<mapping resource="hbm/Ycategoryfilter.hbm.xml" />
		<mapping resource="hbm/Pagetype.hbm.xml" />
		<mapping resource="hbm/Gdealoption.hbm.xml" />
		<mapping resource="hbm/Cuisinecategory.hbm.xml" />
		<mapping resource="hbm/Ygiftcertificate.hbm.xml" />
		<mapping resource="hbm/Dealoption.hbm.xml" />
		<mapping resource="hbm/Ybusiness.hbm.xml" />
		<mapping resource="hbm/Ygiftoptionmap.hbm.xml" />
		<mapping resource="hbm/Usercontactsgroupmap.hbm.xml" />
		<mapping resource="hbm/Gdivision.hbm.xml" />
		<mapping resource="hbm/Privacy.hbm.xml" />
		<mapping resource="hbm/Usercontacts.hbm.xml" />
		<mapping resource="hbm/Ybusinessregionmap.hbm.xml" />
		<mapping resource="hbm/Ydeal.hbm.xml" />
		<mapping resource="hbm/Jeeyohgroup.hbm.xml" />
		<mapping resource="hbm/Ybusinesstype.hbm.xml" />
		<mapping resource="hbm/Dealredemptionlocation.hbm.xml" />
		<mapping resource="hbm/Ydealoption.hbm.xml" />
		<mapping resource="hbm/Profiletype.hbm.xml" />
		<mapping resource="hbm/Yregion.hbm.xml" />
		<mapping resource="hbm/Notificationpermission.hbm.xml" />
		<mapping resource="hbm/Gdealtype.hbm.xml" />
		<mapping resource="hbm/Gtags.hbm.xml" />
		<mapping resource="hbm/Gcategory.hbm.xml" />
		<mapping resource="hbm/Userdealssuggestion.hbm.xml" />
		<mapping resource="hbm/Usernondealsuggestion.hbm.xml" />
		<mapping resource="hbm/Events.hbm.xml" />
		<mapping resource="hbm/EventuserLikes.hbm.xml" />
		<mapping resource="hbm/FandangoTopTen.hbm.xml" />
		<mapping resource="hbm/FandangoComingSoon.hbm.xml" />
		<mapping resource="hbm/FandangoOpening.hbm.xml" />
		<mapping resource="hbm/FandangoNearMe.hbm.xml" />
		<mapping resource="hbm/StubhubEvent.hbm.xml" />
		<mapping resource="hbm/Tags.hbm.xml" />
		<mapping resource="hbm/UserCategory.hbm.xml" />
		<mapping resource="hbm/UserCategoryLikes.hbm.xml" />
		<mapping resource="hbm/Usereventsuggestion.hbm.xml" />
		<mapping resource="hbm/Gmerchantrating.hbm.xml" />
		<mapping resource="hbm/Topdealssuggestion.hbm.xml" />
		<mapping resource="hbm/Topeventsuggestion.hbm.xml" />
		<mapping resource="hbm/Topnondealsuggestion.hbm.xml" />
		<mapping resource="hbm/Topcommunitysuggestion.hbm.xml" />
		<mapping resource="hbm/Funboard.hbm.xml" />
		<mapping resource="hbm/PageFunboard.hbm.xml" />
		<mapping resource="hbm/BusinessFunboard.hbm.xml" />
		<mapping resource="hbm/DealFunboard.hbm.xml" />
		<mapping resource="hbm/EventFunboard.hbm.xml" />
		<mapping resource="hbm/FunboardComments.hbm.xml" />
		<mapping resource="hbm/FunboardMediaContent.hbm.xml" />
		<mapping resource="hbm/Timeline.hbm.xml" />
		<mapping resource="hbm/CommunityComments.hbm.xml" />
		<mapping resource="hbm/LCities.hbm.xml" />
		<mapping resource="hbm/Ldeal.hbm.xml" />
		<mapping resource="hbm/LdealCategory.hbm.xml" />
		<mapping resource="hbm/LdealOption.hbm.xml" />
		<mapping resource="hbm/Lcategory.hbm.xml" />
		<mapping resource="hbm/WallFeed.hbm.xml" />
		<mapping resource="hbm/WallFeedComments.hbm.xml" />
		<mapping resource="hbm/WallFeedItems.hbm.xml" />
		<mapping resource="hbm/WallFeedUserShareMap.hbm.xml" />
		<mapping resource="hbm/CommunityReviewMap.hbm.xml" />
		<mapping resource="hbm/CommunityReview.hbm.xml" />
		<mapping resource="hbm/UserSession.hbm.xml" />
		<mapping resource="hbm/PopularCommunity.hbm.xml" />
		<mapping resource="hbm/BetaListUser.hbm.xml" />
	</session-factory>
</hibernate-configuration>
